.h-8{
    border-radius: 50px;
    height: 45px;
}
.size{
    font-weight: bolder;
    font-size: 25px;
    
}
/* .stick{
    position: fixed;
    width: 100%;
    z-index: 9999;

} */
/* .bal{
    z-index: 10;
    margin-top: 65px;
   
} */

